.active {
    .button {
        &LabelCircle {
            fill-opacity: 1;
        }
    }
}

.button {
    &Wrapper {
        border: 1px solid rgb(230, 236, 240);
        border-radius: 20px;
        min-height: 16px;
        cursor: pointer;
        padding: 6px 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        user-select: none;

        &:hover {
            border-color: rgb(202, 207, 211);
        }
    }

    &Text {
        line-height: 14px;
        font-size: 14px;
        margin: 0 5px;
        padding-top: 1px; 
        color: rgb(67, 72, 75);
    }

    &Label {
        display: flex;
        width: 16px;
        height: 16px;
        stroke-width: 5;
        stroke-miterlimit: 10;
        fill: none;

        &Circle {
            stroke-width: 4;
            stroke-miterlimit: 10;
            fill-opacity: 0;
            transition: fill-opacity .2s ease-in-out;
        }

        &Icon {
            transform-origin: 50% 50%;
            stroke: white;
        }
    }
}