* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-family: Helvetica, Roboto, Arial, sans-serif;
    user-select: none;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.chartContainer {
    padding: 10px 0;
}

.chartTitle {
    color: rgb(34, 34, 34);
    padding-bottom: 15px;
}

.previewWrapper {
    position: relative;
    height: 70px;
}

.chartWrapper {
    position: relative;
    height: 320px;
}

.layer {
    position: absolute;
    top: 0;
    left: 0;
}

.buttonsWrapper {
    display: flex;
    padding: 10px 0;

    & > div {
        margin: 0 10px 0 0;
    }
}

.nightMode {
    background: rgb(36, 47, 61);

    .modeLink {
        color: rgb(62, 169, 238);

        &Wrapper {
            background: rgb(36, 47, 61);
        }
    }

    .buttonWrapper {
        border-color: rgb(53, 70, 87);

        & > div {
            color: rgb(232, 236, 238) !important;
        }
    }

    .chartTitle {
        color: rgb(232, 236, 238);
    }
}

:global {
    .container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        max-width: 400px;
        position: relative;
        margin: 0 auto;
    }

    body {
        height: 100vh;
        padding: 0 10px;
        -webkit-touch-callout: none !important;
    }

    @media screen and (min-width: 1025px) {
        .container {
            max-width: 500px;
        }
    }
}
