.previewWrapper {
    position: relative;
    height: 100px;
}

.chartWrapper {
    position: relative;
    height: 500px;
}

.layer {
    position: absolute;
    top: 0;
    left: 0;
}

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: Helvetica, Roboto, Arial, sans-serif;
}